mongo:
  addresses: []
  hosts: []
  port: 27017
  db: upp-store

apiHost: "http://apipath.replaceme"
cacheTtl: 30

connectionHealthcheckParameters:
    name: "Connectivity to MongoDB"
    severity: 1
    businessImpact: "Content won't be available for API consumers, including ft.com."
    technicalSummary: "Cannot connect to the MongoDB content store. This will result in failure to retrieve articles from the content platform and affect a variety of products."
    panicGuideUrl: "https://runbooks.in.ft.com/document-store-api"

indexHealthcheckParameters:
    name: "MongoDB index health"
    severity: 2
    businessImpact: "Some API consumers may experience slow performance for content requests."
    technicalSummary: "The application indexes for the MongoDB content store may not be up-to-date (indexing may be in progress). This will result in degraded performance from the content platform and affect a variety of products."
    panicGuideUrl: "https://runbooks.in.ft.com/document-store-api"

server:

  applicationConnectors:
    - type: http
      port: 14180

  adminConnectors:
    - type: http
      port: 14181

  requestLog:
    appenders: []

swagger:
  resourcePackage: com.ft.universalpublishing.documentstore,com.ft.universalpublishing.documentstore.resources
  title: Document Store API
  version: v1
  description: Document Store API
  contact: UPP Team

swagger:
  resourcePackage: com.ft.universalpublishing.documentstore,com.ft.universalpublishing.documentstore.resources
  title: Document Store API
  version: v1
  description: Document Store API
  contact: UPP Team

logging:
  level: INFO
  loggers:
    io.dropwizard: WARN
    io.dropwizard.jersey: "OFF"
    io.dropwizard.lifecycle: "OFF"
    io.dropwizard.servlets: "OFF"
    com.sun.jersey.spi.container.ContainerResponse: "OFF"
    org.openrdf.rio.helpers.ParseErrorLogger: "OFF"
    org.eclipse.jetty: "OFF"
    javax.ws.rs.client: "OFF"
    com.sun.jersey.api.client: "OFF"
    ch.qos.logback: "OFF"
    com.ft.api.util.transactionid: "OFF"
    com.ft.platform.dropwizard.HealthCheckPageData: "OFF"
    com.ft.platform.dropwizard: WARN
    com.ft.platform.dropwizard.metrics: "OFF"
    com.ft.api.util.transactionid: "OFF"
    com.ft.api.util.buildinfo: "OFF"
    com.ft.bodyprocessing: WARN
    com.ft.api.jaxrs.errors: "OFF"
    com.ft.api.jaxrs: WARN
    org.glassfish.jersey.client: "OFF"
  appenders:
    - type: console
      logFormat: "%m%n"

appInfo:
    systemCode: "document-store-api"
    description: "document-store-api" 
