mongo:
  hosts: ["localhost"]
  port: 27017
  db: upp-store

publicConceptsApi:
  host: "localhost:8081"
  healthcheckParameters:
    name: "Public Concepts API health"
    severity: 1
    businessImpact: "Document Store API would not be able to forward any incoming request"
    technicalSummary: "Tests that the Public Concepts API is running and responding to /__health requests"
    panicGuideUrl: "https://runbooks.in.ft.com/public-concepts-api"

publicConcordancesApi:
  host: "localhost:8082"
  healthcheckParameters:
    name: "Public Concordances API health"
    severity: 1
    businessImpact: "Document Store API would not be able to forward any incoming request"
    technicalSummary: "Tests that the Public Concordances API is running and responding to /__health requests"
    panicGuideUrl: "https://runbooks.in.ft.com/public-concordances-api"

apiHost: localhost
cacheTtl: 30

connectionHealthcheckParameters:
  name: "Connectivity to MongoDB"
  severity: 1
  businessImpact: "Content won't be available for API consumers, including ft.com."
  technicalSummary: "Cannot connect to the MongoDB content store. This will result in failure to retrieve articles from the content platform and affect a variety of products."
  panicGuideUrl: "https://dewey.ft.com/document-store-api.html"

indexHealthcheckParameters:
  name: "MongoDB index health"
  severity: 2
  businessImpact: "Some API consumers may experience slow performance for content requests."
  technicalSummary: "The application indexes for the MongoDB content store may not be up-to-date (indexing may be in progress). This will result in degraded performance from the content platform and affect a variety of products."
  panicGuideUrl: "https://dewey.ft.com/document-store-api.html"

server:
  applicationConnectors:
    - type: http
      port: 14180

  adminConnectors:
    - type: http
      port: 14181

  requestLog:
    appenders:
      - type: console
        # Add transaction_id to the end of Dropwizard's default format, which is itself based on the "combined" log format
        logFormat: '%h %l %u [%t] "%r" %s %b "%i{Referer}" "%i{User-Agent}" %D transaction_id=%i{X-Request-Id}'
        # The timezone used to format dates. HINT: USE THE DEFAULT, UTC.
        timeZone: UTC

      - type: file

        # The file to which current statements will be logged.
        currentLogFilename: /var/log/apps/document-store-api-dw-access.log

        # When the log file rotates, the archived log will be renamed to this and gzipped. The
        # %d is replaced with the previous day (yyyy-MM-dd). Custom rolling windows can be created
        # by passing a SimpleDateFormat-compatible format as an argument: "%d{yyyy-MM-dd-hh}".
        archivedLogFilenamePattern: /var/log/apps/document-store-api-dw-access-%d.log.gz

        # The number of archived files to keep.
        archivedFileCount: 6

        # The timezone used to format dates. HINT: USE THE DEFAULT, UTC.
        timeZone: UTC

swagger:
  resourcePackage: com.ft.universalpublishing.documentstore,com.ft.universalpublishing.documentstore.resources
  title: Document Store API
  version: v1
  description: Document Store API
  contact: UPP Team

logging:
  level: INFO

  loggers:
    io.dropwizard: DEBUG
    com.ft.api.util.transactionid.TransactionIdFilter: WARN

  appenders:
    - type: console

    - type: file
      # Do not write log statements below this threshold to the file.
      threshold: ALL

      # The file to which current statements will be logged.
      currentLogFilename: /var/log/apps/document-store-api-dw-app.log

      # When the log file rotates, the archived log will be renamed to this and gzipped. The
      # %d is replaced with the previous day (yyyy-MM-dd). Custom rolling windows can be created
      # by passing a SimpleDateFormat-compatible format as an argument: "%d{yyyy-MM-dd-hh}".
      archivedLogFilenamePattern: /var/log/apps/document-store-api-dw-app-%d.log.gz

      # The number of archived files to keep.
      archivedFileCount: 5

      # The timezone used to format dates. HINT: USE THE DEFAULT, UTC.
      timeZone: UTC

appInfo:
  systemCode: "document-store-api"
  description: "document-store-api"
