mongo:
  hosts: {{{mongohosts}}}
  host: "{{{mongohost}}}"
  port: {{{mongoport}}}
  db: "{{{mongodb}}}"
  
apiHost: "{{{apiHost}}}"

{{=<% %>=}}
contentTypeTemplates:
  http://www.ft.com/ontology/content/Article: /content/{{id}}
  http://www.ft.com/ontology/content/ImageSet: /content/{{id}}
<%={{ }}=%>

healthcheckParameters:
    name: "{{{healthcheckParameterName}}}"
    severity: "{{{healthcheckParameterSeverity}}}"
    businessImpact: "{{{healthcheckParameterBusinessImpact}}}"
    technicalSummary: "{{{healthcheckParameterTechnicalSummary}}}"
    panicGuideUrl: "{{{healthcheckParameterPanicGuideUrl}}}"

server:

  applicationConnectors:
    - type: http
      port: 8080

  adminConnectors:
      - type: http
        port: 8081

  requestLog:

    appenders:

      - type: file

        # The file to which current statements will be logged.
        currentLogFilename: /var/log/apps/document-store-api-dw-access.log

        # When the log file rotates, the archived log will be renamed to this and gzipped. The
        # %d is replaced with the previous day (yyyy-MM-dd). Custom rolling windows can be created
        # by passing a SimpleDateFormat-compatible format as an argument: "%d{yyyy-MM-dd-hh}".
        archivedLogFilenamePattern: /var/log/apps/document-store-api-dw-access-%d.log.gz

        # The number of archived files to keep.
        archivedFileCount: 6

        # The timezone used to format dates. HINT: USE THE DEFAULT, UTC.
        timeZone: UTC

logging:

  level: INFO

  loggers:
    io.dropwizard: WARN
    com.ft.api.util.transactionid.TransactionIdFilter: WARN

  appenders:

    - type: file
      logFormat: "%-5p [%d{ISO8601, GMT}] %c: %X{transaction_id} %m [%thread]%n%xEx"
      # Do not write log statements below this threshold to the file.
      threshold: ALL

      # The file to which current statements will be logged.
      currentLogFilename: /var/log/apps/document-store-api-dw-app.log

      # When the log file rotates, the archived log will be renamed to this and gzipped. The
      # %d is replaced with the previous day (yyyy-MM-dd). Custom rolling windows can be created
      # by passing a SimpleDateFormat-compatible format as an argument: "%d{yyyy-MM-dd-hh}".
      archivedLogFilenamePattern: /var/log/apps/document-store-api-dw-app-%d.log.gz

      # The number of archived files to keep.
      archivedFileCount: 5

      # The timezone used to format dates. HINT: USE THE DEFAULT, UTC.
      timeZone: UTC
