version: 2
workflows:
  version: 2
  build-docker-image:
    jobs:
      - build:
          filters:
            tags:
              only: /.*/
jobs:
  build:
    docker:
      - image: circleci/openjdk:8-jdk-stretch
      - image: mongo:3.2.18
    steps:
      - checkout
      - setup_remote_docker
      - run:
          name: Build package & run tests
          command: |
            export MONGO_TEST_URL=localhost:27017
            mkdir ~/.m2/
            curl -v -o ~/.m2/settings.xml "https://raw.githubusercontent.com/Financial-Times/nexus-settings/master/public-settings.xml"
            mvn clean package -Djava.net.preferIPv4Stack=true  
            rm -rf ~/.m2/*            
      - run:
          name: Set Docker image tag based on branch or git tag
          command: |
            if [ ! -z "${CIRCLE_TAG}" ] ; then
              echo 'export DOCKER_TAG=${CIRCLE_TAG}' >> $BASH_ENV
            elif [ "${CIRCLE_BRANCH}" == "master" ] ; then
              echo 'export DOCKER_TAG=latest' >> $BASH_ENV
            else
              echo 'export DOCKER_TAG=$( echo ${CIRCLE_BRANCH} | cut -f 2 -d / )' >> $BASH_ENV
            fi
      - run:
          name: Build Docker image
          command: |
            source ${BASH_ENV}
            docker build \
            --build-arg SONATYPE_USER=${SONATYPE_USER} \
            --build-arg SONATYPE_PASSWORD=${SONATYPE_PASSWORD} \
            --build-arg GIT_TAG=${DOCKER_TAG} \
            --tag nexus.in.ft.com:5000/coco/${CIRCLE_PROJECT_REPONAME}:${DOCKER_TAG} .
      - deploy:
          name: Push Docker image
          command: |
            source ${BASH_ENV}
            docker login nexus.in.ft.com:5000 -u ${DOCKER_USER} -p ${DOCKER_PASSWORD}
            docker push nexus.in.ft.com:5000/coco/${CIRCLE_PROJECT_REPONAME}:${DOCKER_TAG}
